/*
COLORS:
Green: #00c200
Purple: #6871ff
Magneta: #c930c7
Cyan: #00C5C7
Grey: #c7c7c7
White: #feffff
Black: #191919
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #191919; }

body {
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  line-height: 1.7;
  color: #feffff;
  padding: 3rem;
  box-sizing: border-box; }

.heading-primary--main {
  display: block;
  font-size: 4rem;
  font-weight: 40rem;
  animation: moveInTop 1s; }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }
  .heading-primary--main1 {
    color: #00C5C7; }

.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  color: #c7c7c7;
  animation: 2s 0s moveInTopDelay; }

@keyframes moveInTopDelay {
  0% {
    opacity: 0; }
  50% {
    opacity: 0;
    transform: translateY(-3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.heading-secondary {
  display: block;
  font-size: 3rem; }

.heading-tertiary {
  font-family: 'Space Mono', monospace;
  font-size: 2.5rem; }

.heading-quarternary {
  font-family: 'Space Mono', monospace;
  font-size: 1.5rem; }

.heading-arrow {
  font-size: 4rem;
  color: #00c200;
  margin: 3rem; }

.tree {
  line-height: 2rem;
  font-size: 3rem;
  padding-left: 10rem;
  color: #00c200; }
  .tree .tree__branch--vertical:after {
    display: inline;
    position: absolute;
    content: '';
    margin-left: 5rem; }

.is-visible .tree__text {
  cursor: pointer;
  font-size: 2.5rem;
  margin-left: 3.5rem;
  padding: 5px;
  color: #00c200; }

.is-visible .tree__text:active {
  background-color: #6484a8;
  color: #c7c7c7; }

.is-visible .tree__subtree--expand {
  opacity: 1; }
  .is-visible .tree__subtree--expand .tree__branch--vertical {
    animation-delay: 2s; }
  .is-visible .tree__subtree--expand .tree__branch--vertical:first-child:after {
    margin-top: 20px; }
  .is-visible .tree__subtree--expand .tree__branch--vertical:after {
    animation: increase-height 2s;
    animation-delay: 2s; }
    .is-visible .tree__subtree--expand .tree__branch--vertical:after {
      width: 3px;
      height: 0px;
      background: #00c200;
      animation-fill-mode: forwards; }

@keyframes increase-height {
  100% {
    height: 5rem; } }
  .is-visible .tree__subtree--expand .tree__branch--horizontal {
    display: flex;
    align-items: center;
    animation: increase-width 2s;
    animation-fill-mode: both !important;
    animation-delay: 3s;
    margin-left: 5rem; }
    .is-visible .tree__subtree--expand .tree__branch--horizontal {
      width: 0px;
      height: 3px;
      background: #00c200;
      animation-fill-mode: forwards; }

@keyframes increase-width {
  0% {
    opacity: 0;
    width: 0; }
  66% {
    opacity: 1; }
  100% {
    width: 3rem; } }
  .is-visible .tree__subtree--expand .tree__text {
    animation: fade-in 2s; }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.is-visible .tree__subtree--collapse {
  opacity: 0;
  height: 0; }

.is-visible .tree__subtree--collapse + .tree__branch--vertical {
  animation: move-up-illusion 2s;
  animation-fill-mode: forwards; }

@keyframes move-up-illusion {
  0% {
    height: 12rem; }
  100% {
    height: 6rem; } }

.is-visible .tree li {
  list-style: none; }

.is-visible .tree__branch--vertical {
  animation: increase-height 2s; }
  .is-visible .tree__branch--vertical {
    width: 3px;
    height: 0px;
    background: #00c200;
    animation-fill-mode: forwards; }

@keyframes increase-height {
  100% {
    height: 5rem; } }

.is-visible .tree__branch--horizontal {
  display: flex;
  align-items: center;
  animation: increase-width 2s;
  animation-fill-mode: both !important;
  animation-delay: 1s; }
  .is-visible .tree__branch--horizontal {
    width: 0px;
    height: 3px;
    background: #00c200;
    animation-fill-mode: forwards; }

@keyframes increase-width {
  0% {
    opacity: 0;
    width: 0; }
  66% {
    opacity: 1; }
  100% {
    width: 3rem; } }

#tree__text--citi {
  background-color: #6484a8;
  color: #c7c7c7; }

.container {
  display: flex;
  flex-wrap: wrap; }
  .container div {
    flex: 1 1 0;
    box-sizing: border-box; }
  .container .work-experience {
    flex: 2 1 0; }

.header {
  min-height: 95vh; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    text-align: left; }

.navigation {
  backface-visibility: hidden;
  font-size: 2rem; }
  .navigation__list {
    position: absolute;
    top: 0;
    left: 0;
    list-style: none;
    width: 30%;
    margin: 2rem 0 0 3rem; }
    .navigation__list:not(:last-child) {
      margin-right: 4rem; }
  .navigation__item {
    padding: 30px;
    display: inline-block;
    transition: all .4s; }
    .navigation__item:hover {
      -webkit-transform: translateY(-1rem);
      transform: translateY(-1rem); }
    .navigation__item:hover .navigation__link {
      background-position: 100%; }
    .navigation__item:hover .navigation__link::after {
      content: '';
      display: block;
      margin-top: 10px;
      height: 3px;
      background: #6871ff;
      animation: customwidth .5s; }

@keyframes customwidth {
  0% {
    width: 0%; }
  100% {
    width: 100%; } }
  .navigation__link {
    color: #feffff;
    text-decoration: none; }
    .navigation__link:link, .navigation__link:visited {
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #c930c7 50%);
      background-size: 250%;
      transition: all .5s; }
    .navigation__link:hover, .navigation__link:active {
      background-position: 100%;
      -webkit-transform: translateY(-1rem);
      transform: translateY(-1rem); }
    .navigation__link--active {
      background-color: #c930c7; }
    .navigation__link--active::after {
      content: '';
      display: block;
      margin-top: 10px;
      height: 3px;
      background: #6871ff; }
  .navigation .logo {
    float: right; }
    .navigation .logo a {
      text-decoration: none;
      color: #feffff;
      background-color: #c930c7; }

.section-experience {
  background-color: #191919;
  min-height: 100vh; }
  .section-experience:not(:first-child) {
    padding: 5rem 0; }
  .section-experience .is-visible .work-experience {
    animation: 2s 0s moveInRightDelay;
    padding-top: calc(5rem / 2); }

@keyframes moveInRightDelay {
  0% {
    opacity: 0; }
  50% {
    opacity: 0;
    transform: translateX(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }
    .section-experience .is-visible .work-experience--title {
      overflow: hidden;
      /* Ensures the content is not revealed until the animation */
      border-right: .15em solid orange;
      /* The typwriter cursor */
      white-space: nowrap;
      /* Keeps the content on a single line */
      width: 70rem;
      animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite; }

@keyframes typing {
  from {
    width: 0; }
  to {
    width: 80%; } }

@keyframes blink-caret {
  from, to {
    border-color: transparent; }
  50% {
    border-color: orange; } }
