/*
COLORS:
Green: #00c200
Purple: #6871ff
Magneta: #c930c7
Cyan: #00C5C7
Grey: #c7c7c7
White: #feffff
Black: #191919
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #191919; }

body {
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  line-height: 1.7;
  color: #feffff;
  padding: 3rem;
  box-sizing: border-box; }

.heading-primary--main {
  display: block;
  font-size: 4rem;
  font-weight: 40rem; }
  .heading-primary--main1 {
    color: #00C5C7; }

.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  color: #c7c7c7; }

.header {
  height: 95vh; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left; }

.navigation {
  backface-visibility: hidden;
  font-size: 2rem; }
  .navigation__list {
    position: absolute;
    top: 0;
    left: 0;
    list-style: none;
    width: 30%;
    margin: 2rem 0 0 3rem; }
    .navigation__list:not(:last-child) {
      margin-right: 4rem; }
  .navigation__item {
    padding: 30px;
    display: inline-block;
    transition: all .4s; }
    .navigation__item:hover {
      -webkit-transform: translateY(-1rem);
      transform: translateY(-1rem); }
    .navigation__item:hover .navigation__link {
      background-position: 100%; }
    .navigation__item:hover .navigation__link::after {
      content: '';
      display: block;
      margin-top: 10px;
      height: 3px;
      background: #6871ff;
      animation: customwidth .5s; }

@keyframes customwidth {
  0% {
    width: 0%; }
  100% {
    width: 100%; } }
  .navigation__link {
    color: #feffff;
    text-decoration: none; }
    .navigation__link:link, .navigation__link:visited {
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #c930c7 50%);
      background-size: 250%;
      transition: all .5s; }
    .navigation__link:hover, .navigation__link:active {
      background-position: 100%;
      -webkit-transform: translateY(-1rem);
      transform: translateY(-1rem); }
    .navigation__link--active {
      background-color: #c930c7; }
    .navigation__link--active::after {
      content: '';
      display: block;
      margin-top: 10px;
      height: 3px;
      background: #6871ff; }
  .navigation .logo {
    float: right; }
    .navigation .logo a {
      text-decoration: none;
      color: #feffff;
      background-color: #c930c7; }
