/*
COLORS:
Green: #00c200
Purple: #6871ff
Magneta: #c930c7
Cyan: #00C5C7
Grey: #c7c7c7
White: #feffff
Black: #191919
*/

$color-background: #191919;
$color-text: #feffff;
$color-secondary-text: #c7c7c7;
$color-highlight: #00C5C7;
$color-secondary-highlight: #c930c7;
$color-tertiary-highlight: #6484a8;
$color-line: #6871ff;
$color-secondary-line: #00c200;


$gutter-horizontal: 4rem;
$nav-fontsize: 2rem;

$heading-fontsize-main: 4rem; 
$heading-fontsize-secondary: 3rem; 

$branch-width: 3rem;