<h1>LANDSCAPES</h1>
<div class="art-container">
  <div class="landscapes" *ngFor="let file of landscapes">
    <img src='../../assets/artwork/{{file}}' loading="lazy">
  </div>
  <div class="portraitLandscapes" *ngFor="let file of portraitLandscapes">
    <img src='../../assets/artwork/{{file}}' loading="lazy">
  </div>
</div>
<h1>PORTRAITS</h1>
<div class="art-container">
  <div class="portraits" *ngFor="let file of portraits">
    <img src='../../assets/artwork/{{file}}' loading="lazy">
  </div>
</div>
<h1>ABSTRACTS</h1>
<div class="art-container">
  <div class="abstracts" *ngFor="let file of abstracts">
    <img src='../../assets/artwork/{{file}}' loading="lazy">
  </div>
</div>
