@import './shared';

.header {
    // mobile first

    font-size: $font-size-xl;

    // @media screen and (min-width: $tab-port-width) {
    //     font-size: $font-size-l;
    // }

    & span {
        color: $color-layout;
    }
    
    &__text-box {
        // position: absolute;
        // top: 45%;
        // left: 40%;
        // transform: translate(-40%, -45%);
        // text-align: left;
        @media screen and (min-width: $tab-port-width) {
            max-inline-size: 100%;
        }
        text-align: left;
        padding-top: 3rem;
        max-inline-size: 10ch;
    }

    &__vertical-arrow {
        border-left: 3px solid $color-secondary-text;
        height: 100%;
        position: absolute;
        top: 0;
        right: calc(45px / 2); // 45px comes from the mob icon
        z-index: 1;

        &::after {
            border-color: $color-secondary-text;
            border-bottom-style: solid;
            border-bottom-width: 3px;
            border-right-style: solid;
            border-right-width: 3px;
            content: '';
            display: inline-block;
            height: 20px;
            left: -13px;
            position: absolute;
            bottom: 3px;
            width: 20px;
            transform: rotate(45deg);
        }
    }
}
