@import './shared';
@import './header';
@import './nav';

html {
    // makes text bigger when screen bigger, makes text smaller when screen smaller
    // useful for h1 - p
    font-size: clamp(1rem, 0.75rem + 1.5vw, 2rem);
    // padding: 1rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

body {
    box-sizing: border-box;
    background-color: $color-background;
    margin: 0px; //chrome has 8px by default

    font-family: 'Space Mono', monospace;
    font-weight: 400;
    color: $color-text;
    box-sizing: border-box;
}

section {
  width: 100%;
  height: 100vh;
  position: relative;
}