@import './shared';

.navigation {
    font-size: $font-size-m;
    
    &__item {

    }
    // desktop
    // &__item {
    //     padding: $nav-item-padding;
    //     display: inline-block;
    //     transition: all .4s;

    //     &:hover {
    //         -webkit-transform: translateY(-1rem);
    //         transform: translateY(-1rem);
    //         cursor: pointer;
    //     }

    //     &:hover .navigation__link {
    //         background-position: 100%;
    //     }

    //     @keyframes customwidth {
    //         0% {
    //             width: 0%;
    //         }

    //         100% {
    //             width: 100%;
    //         }
    //     }

    //     &:hover .navigation__link::after {
    //         content: '';
    //         display: block;
    //         margin-top: 10px;
    //         height: 3px;
    //         background: $color-line;
    //         animation: customwidth .5s;
    //     }
    // }

    // & .navigation__link {
    //     color: $color-text;
    //     text-decoration: none;
        
    //     &:link,
    //     &:visited {
    //         background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-serena 50%);
    //         background-size: 250%;
    //         transition: all .5s;
    //     }

    //     &:hover,
    //     &:active {
    //         background-position: 100%;
    //         -webkit-transform: translateY(-1rem);
    //         transform: translateY(-1rem);
    //     }

    //     &--active {
    //         background-color: $color-serena;
    //     }

    //     &--active::after {
    //         content: '';
    //         display: block;
    //         margin-top: 10px;
    //         height: 3px;
    //         background: $color-line;
    //     }
    // }

    // & .logo {
    //     font-weight: 700;
    //     padding-top: 2.5rem;
    //     // margin-top: calc($nav-item-padding / 2);
    //     // float: right;
    //     & a {
    //         text-decoration: none;
    //         color: black;
    //         background-color: $color-secondary-text;
    //     }

    //     // & .icon {
    //     //     font-size: 3rem;
    //     // }
    // }

    .mob-icon {
        float: right;
        width: $mob-icon-width;
        position: fixed;
        top: 0;
        right: 0;
        z-index: $z-index-icon;
    }
}

