@import './shared';

.projects {
    &__item {
        display: block;
        height: 100%;
        border-radius: $border-radius;
        border: $color-secondary-text 2px solid;
        margin-top: 12px;
        margin-left: 5px;
        margin-right: 5px;
        transition: 0.4s;
    }

    &__grid {
        @media screen and (min-width: $tab-port-width) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 20px;
        }
    }
    

    &__item:hover {
        @include hover;
    }

    &__item:nth-child(2) {
        border: $color-layout 2px solid;
    }

    &__item:nth-child(3) {
        @media screen and (min-width: $tab-port-width) {
            border: $color-layout 2px solid;
        }
    }

    &__item:nth-child(4) {
        border: $color-layout 2px solid;
        @media screen and (min-width: $tab-port-width) {
            border: $color-secondary-text 2px solid;
        }
    }

    &--arrow {
        margin-left: 5px;
        margin-right: 5px;
        color: $color-secondary-text;
    }

    img {
        width: 100%;
        object-fit: contain;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        max-height: 150px;
    }
}