$color-background: #191919;
$color-text: #ffffff;
$color-secondary-text: #00C200;
$color-layout: #6AEDFF;
// $color-serena: #C930C7;
// $color-line: #6871ff;

$font-size-xl: 2.5rem;
$font-size-l: 2rem;
$font-size-m: 1rem;
$font-size-s: 0.75rem;

$nav-item-padding: 2rem;

$phone-width: 320px;
$tab-port-width: 600px;
$tab-land-width: 800px;
$desktop-width: 1200px;

$z-index-icon: 5;
$mob-icon-width: 60px;

section .title {
    font-size: $font-size-xl;
    text-align: center;

    & code {
        color: $color-secondary-text;
    }
}
