$color-background: #191919;
$color-text: #ffffff;
$color-secondary-text: #00C200;
$color-layout: #6AEDFF;
$color-serena: #C930C7;
$color-line: #6871ff;

$font-size-l: 4rem;
$font-size-s: 2rem;

$nav-item-padding: 3rem;

@mixin respond($breakpoint) {
    @if $breakpoint == smallphone {
        @media(max-width: 35em) {@content}; //600px
    }
    @if $breakpoint == phone {
        @media(max-width: 37.5em) {@content}; //600px
    }
    @if $breakpoint == tab-port {
        @media(max-width: 56.25em) {@content}; //900px
    }
    @if $breakpoint == tab-land {
        @media(max-width: 75em) {@content}; //1200px
    }
    @if $breakpoint == mid-desktop {
        @media(min-width: 93.75em) {@content}; //1500px
    }
    @if $breakpoint == big-desktop {
        @media(min-width: 112.5em) {@content}; //1800px
    }
}