$color-background: #191919;
$color-text: #ffffff;
$color-secondary-text: #00C200;
$color-layout: #6AEDFF;
$color-serena: #C930C7;
$color-line: #6871ff;

$font-size-xl: 2.5rem;
$font-size-l: 2rem;
$font-size-m: 1rem;
$font-size-s: 0.75rem;

$nav-item-padding: 2rem;

$phone-width: 320px;
$tab-port-width: 600px;
$tab-land-width: 800px;
$desktop-width: 1200px;

$z-index-icon: 5;
$z-index-mob-menu: 4;
$mob-icon-width: 60px;

$border-radius: 4px;

html {
    // makes text bigger when screen bigger, makes text smaller when screen smaller
    // useful for h1 - p
    font-size: clamp(1rem, 0.75rem + 1.5vw, 2rem);
    // padding: 1rem;
    margin-left: 1.6rem;
    margin-right: 1.6rem;
}

body {
    box-sizing: border-box;
    background-color: $color-background;
    margin: 0px; //chrome has 8px by default

    font-family: 'Space Mono', monospace;
    font-weight: 400;
    color: $color-text;
    box-sizing: border-box;
}

section {
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding-top: 3rem;
}

section:first-child {
  padding-top: 0rem;
}

img {
    max-inline-size: 100%;
    block-size: auto;
    object-fit: cover;
}

section .title {
    font-size: $font-size-xl;
    text-align: center;

    & code {
        color: $color-secondary-text;
    }
}

section {

    ul {
        list-style: none;
    }

    li::before {
        content: ">"; 
        color: $color-secondary-text;
        display: inline-block;
        width: 1em;
        margin-left: -1em
    }

    & .logo {
        font-weight: 700;
        padding-top: 2.5rem;
        & a {
            text-decoration: none;
            color: black;
            background-color: $color-secondary-text;
        }
    }
}

@mixin fade-in($time: 2s) {
    animation: fade-in $time;
    @keyframes fade-in{
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
}

@mixin hover {
    transform: translate(0, -3px);
    box-shadow: 0 2px 8px rgba(253, 253, 253, 0.87);
}

@keyframes typing {
    0% {
        width: 0;
        border-right: 0.1rem solid $color-serena;
    }

    99.9% {
        border-right: 0.1rem solid $color-serena;
    }

    100% {
        border: none;
    }
}

@keyframes blink-caret {

    from, to {
        border-color: transparent
    }

    20% {
        border-color: $color-serena;
    }
}

@keyframes moveInRightDelay {
    0% {
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}


@keyframes slide-in {
    0% {
      -webkit-transform: translateX(100%);
    }
    100% {
      -webkit-transform: translateX(0%);
    }
}

@keyframes slide-out {
    0% {
      -webkit-transform: translateX(0%);
    }
    100% {
      -webkit-transform: translateX(100%);
    }
}