.tree {
    line-height: 2rem;
    font-size: 3rem;
    margin-left: 8rem;
    color: $color-secondary-line;

    &__text {
        cursor: pointer;
        font-size: 2.5rem;
        margin-left: $branch-width + .5rem;
        padding: 5px;
    }

    &__text:active {
        background-color: $color-tertiary-highlight;
        color: $color-secondary-text;
    }

    &__text--citi {
        background-color: $color-tertiary-highlight;
        color: $color-secondary-text;
    }

    &__subtree {

        &--expand {
            opacity: 1;
            & .tree__branch--vertical{
                @include tree-branch-line(3px, 0px);
                @include increase-height-animation(5rem);
                animation-delay: 2s;
            }

            & .tree__branch--vertical:first-child:after {
                margin-top: 20px;
            }

            & .tree__branch--vertical:after {
                @include increase-height-animation(5rem);
                @include tree-branch-line(3px, 0px);
                display: inline;
                animation-delay: 2s;
                position: absolute;
                content: '';
                border-right: 3px solid $color-secondary-line;
                margin-left: 5rem;
            }

            & .tree__branch--horizontal {
                animation: increase-width 2s;
                @include tree-branch-line(0px, 3px);
                display: flex;
                align-items: center;
                animation-delay: 3s;
                margin-left: 5rem;
            }

            & .tree__text {
                @include fade-in;
                animation-delay: 3s;
            }
        }

        &--collapse {
            opacity: 0;
            height: 0;
            transition: all 1s;
        }
    }

    & li {
        list-style: none;
    }
 
    @keyframes increase-width{
        100% {
            width: $branch-width;
        }
    }

    &__branch{
        &--vertical {
            @include tree-branch-line(3px, 0px);
            animation: increase-height 2s;
        }

        &--horizontal {
            @include tree-branch-line(0px, 3px);
            display: flex;
            align-items: center;
            animation: increase-width 2s;
            animation-delay: 1s;
        }
    }
}