*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines how much 1rem (relative to font size of root element) is 
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    background-color: $color-background;
}
