@import '../shared/abstracts/variables';
@import '../shared/abstracts/mixins';

.linkedin {
    height: 32px;
    vertical-align: sub;
    opacity: 0.85;
}

.navigation__item--icon {
    padding: 0 0 0 3rem;
    display: inline-block;
    
    & a {
        text-decoration: none;
        color: $color-text;
        background-color: transparent !important;
    }

    &:hover img{
        opacity: 1;
        color: #c930c7;
        box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
    }
}


.checked {
    &~.navigation__background {
        height: 100%;
        width: 100%;
        top: 0;
        position: fixed;
        right: 0;
        visibility: visible;
    }

    .navigation__icon {
        background-color: transparent;
    }

    .navigation__icon::before {
        top: 0;
        transform: rotate(135deg);
    }

    .navigation__icon::after {
        top: 0;
        transform: rotate(-135deg);
    }
}

.navigation {
    backface-visibility: hidden;
    min-height: 15vh;

    &__button, &__background{
        visibility: hidden;
    }

    @include respond(phone) {
        &__button {
            visibility: visible;
            background-color: #feffff;
            height: 7rem;
            width: 7rem;
            border-radius: 50%;
            z-index: 1000;
            box-shadow: 0 1rem 3rem rgba(25, 25, 25, 0.1);
            text-align: center;
            cursor: pointer;
            position: fixed;
            right: 5rem;
        }

        &__background {
            visibility: hidden;
            height: 6rem;
            width: 6rem;
            background-color: #191919b0;
            z-index: 100;
            transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);
            border-left: 23px solid $color-secondary-highlight;
        }
    }
    


    &__icon {
        position: relative;

        &,
        &::before,
        &::after {
            width: 3rem;
            height: 2px;
            background-color: $color-background;
            display: inline-block;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }

        &::before {
            top: -.8rem;
        }

        &::after {
            top: .8rem;
        }
    }

    &__mobile--nav {
        padding-top: 40%;
    }

    &__mobile--nav div {
        font-size: 4rem;
        padding: 5rem;
        color: white;
    }

    &__mobile--nav a {
        text-decoration: none;
        color: $color-text;
    }

    &__mobile--menu {
        background-color: $color-secondary-highlight;
        padding: 1rem;
        border: 2px solid #c930c7;
        border-radius: 5px;
    }

    &__mobile--arrow {
        margin: 2rem;
    }

    &__list {

        @include respond(phone) {
            display: none;
        }

        position: absolute;
        top: 0;
        left: 0;
        list-style: none;
        width: 80%;

        &:not(:last-child) {
            margin-right: $gutter-horizontal;
        }

        margin: 2rem 0 0 3rem;
    }

    &__item {
        padding: $nav-item-padding;
        display: inline-block;
        transition: all .4s;

        &:hover {
            -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
        }

        &:hover .navigation__link {
            background-position: 100%;
        }

        &:hover .navigation__link::after {
            content: '';
            display: block;
            margin-top: 10px;
            height: 3px;
            background: $color-line;
            animation: customwidth .5s;
        }

        @keyframes customwidth {
            0% {
                width: 0%;
            }

            100% {
                width: 100%;
            }
        }
    }

    &__link {
        color: $color-text;
        text-decoration: none;


        &:link,
        &:visited {
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-secondary-highlight 50%);
            background-size: 250%;
            transition: all .5s;
        }

        &:hover,
        &:active {
            background-position: 100%;
            -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
        }

        &--active {
            background-color: $color-secondary-highlight;
        }

        &--active::after {
            content: '';
            display: block;
            margin-top: 10px;
            height: 3px;
            background: $color-line;
        }

    }

    .logo {
        @include respond(phone) {
            float: left;
            margin-top: 2rem;
        }

        float: right;

        margin-top: -1.8rem;
        & a {
            text-decoration: none;
            color: $color-text;
            background-color: $color-secondary-highlight;
        }
    }
}
